.current {
  background: linear-gradient(
      rgba(0, 0, 0, .9),
      rgba(0, 0, 0, .9)
    ),
    url("./dev1.jpg");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 80vh;
  font-size: 60px; 
}

.current img {
  width: 500px;
}
