.whatsapp-icon {
  position: fixed;
  z-index: 99;
  font-size: 40px;
  bottom: 30px;
  right: 30px;
}
.whatsapp-icon path {
  color: #25d366;
}
.whatsapp-icon:hover {
  transform: rotate(360deg);
}

